.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.modal-dialog {
    width: 80%;
    margin: auto;
}
.modal-title {
    margin: 0;
    line-height: 1.5;
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
}
.modal-body {
    padding: 1rem;
}
.modal-body h1 {
    margin-top: 0;
}
.modal-header button {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}
.show-modal.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal-dialog {
    opacity: 0;
    transform: translateY(-100px);
    transition: 300ms opacity ease-out,
                300ms transform ease-out;
}
.modal.animate-modal .modal-dialog {
    opacity: 1;
    transform: translateY(0);
}